/*     font-size: 6.6rem;
    letter-spacing: 1.1px;
    color: transparent;
    -webkit-text-stroke: 2px #fffefc;
    text-transform: capitalize; */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: #246b59;
}

main section#nav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section#nav p {
  width: 150%;
}

main section#nav p:nth-child(2) {
  -webkit-transform: translateX(-280px);
          transform: translateX(-280px);
}

main section#nav p span {
  font-size: 9rem;
  letter-spacing: 1.1px;
  color: transparent;
  -webkit-text-stroke: 1px #d1f0e8;
  text-transform: capitalize;
  font-family: 'DM Serif Display', serif;
  margin-right: 50px;
  position: relative;
  font-style: normal;
  cursor: pointer;
}

main section#nav p span:nth-child(2n+1) {
  font-style: italic;
}

main section#nav p:nth-child(1) span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #d1f0e8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#nav p:nth-child(1) span:nth-child(1)::before {
  content: "Lorem";
}

main section#nav p:nth-child(1) span:nth-child(2)::before {
  content: "Ipsum";
}

main section#nav p:nth-child(1) span:nth-child(3)::before {
  content: "Dolor";
}

main section#nav p:nth-child(1) span:nth-child(4)::before {
  content: "Sit";
}

main section#nav p:nth-child(1) span:nth-child(5)::before {
  content: "Amet";
}

main section#nav p:nth-child(1) span:hover::before {
  opacity: 1;
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

main section#nav p:nth-child(2) span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #d1f0e8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main section#nav p:nth-child(2) span:nth-child(5)::before {
  content: "Lorem";
}

main section#nav p:nth-child(2) span:nth-child(4)::before {
  content: "Ipsum";
}

main section#nav p:nth-child(2) span:nth-child(3)::before {
  content: "Dolor";
}

main section#nav p:nth-child(2) span:nth-child(2)::before {
  content: "Sit";
}

main section#nav p:nth-child(2) span:nth-child(1)::before {
  content: "Amet";
}

main section#nav p:nth-child(2) span:hover::before {
  opacity: 1;
  -webkit-transform: translate(-10px, 10px);
          transform: translate(-10px, 10px);
}

main section#sit {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d69985;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
}

main section#sit img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  width: 600px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-top: -60px;
}

main section#sit p {
  width: 640px;
  font-size: 2rem;
  line-height: 48px;
  letter-spacing: 1.1px;
  color: #914930;
  margin-left: -380px;
  margin-top: 240px;
  mix-blend-mode: color-burn;
  z-index: 2;
}

main section#sit .back {
  position: absolute;
  top: 30px;
  right: 20px;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: #f0d9d1;
  cursor: pointer;
}

main section#sit .back::before {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: #f0d9d1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main section#sit .back:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

/* MOUSE TRACKER START */
#tracker {
  width: 75px;
  height: 75px;
  background: #143d33;
  border-radius: 50% 70% 50% 70% / 70% 70% 50% 50%;
  position: absolute;
  opacity: 1;
  -webkit-transition: width .1s ease-out;
  transition: width .1s ease-out;
  pointer-events: none;
  z-index: 999999;
  mix-blend-mode: overlay;
  -webkit-animation: deform 4s ease infinite alternate;
          animation: deform 4s ease infinite alternate;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  letter-spacing: 1.1px;
  color: #d1f0e8;
  text-transform: capitalize;
  font-family: 'DM Serif Display', serif;
  margin-right: 50px;
  font-style: italic;
  z-index: 999998;
}

@-webkit-keyframes deform {
  0% {
    border-radius: 50% 70% 50% 70% / 70% 70% 50% 50%;
  }
  100% {
    border-radius: 70% 50% 70% 50% / 50% 50% 70% 70%;
  }
}

@keyframes deform {
  0% {
    border-radius: 50% 70% 50% 70% / 70% 70% 50% 50%;
  }
  100% {
    border-radius: 70% 50% 70% 50% / 50% 50% 70% 70%;
  }
}
/*# sourceMappingURL=style.css.map */